@using OpenSpacePlanner.Contracts
@model IList<INosSession>
@{
	ViewBag.Title = "Home Page";
}

<div id="sessions">
@RenderPage("Sessions.cshtml",Model)
</div>


<script type="text/javascript">
	$(document).ready(function () {
		refresh();
		setInterval(refresh, 10000);
	});
	
	function refresh() {
		
//$(document).ready(function() {
	$.ajax({
		type: "POST",
		url: "/Home/Samstag/",
		dataType: 'html',
		cache: false,
		success: function (result) {
			$('#samstag').empty();
			$("#samstag").append(result);
		},
		error: function (error, response) {
			alert(error.responseText);
		}
	});

	$.ajax({
		type: "POST",
		url: "/Home/Sonntag/",
		dataType: 'html',
		cache: false,
		success: function (result) {
			$('#sonntag').empty();
			$("#sonntag").append(result);
		},
		error: function (error, response) {
			alert(error.responseText);
		}
	});
}</script>