@using OpenSpacePlanner.Contracts
@model IList<INosSession>
@{
	ViewBag.Title = "Sessions .NET Open Space Süd 2011 in Karlsruhe";
}

<div class="tablelike">
	@Html.ActionLink("Session vorschlagen","Create","Home", null, new { style="text-decoration:none; color:#696969" })
</div>

<div class="tablelike" onclick="$('#sessiondetails').toggle()">
	Session-Details
	<div id="sessiondetails"></div>
</div>

<div id="sessions">
@RenderPage("Sessions.cshtml",Model)
</div>


<script type="text/javascript">
	$(document).ready(function () {
		$('#sessiondetails').hide();
		refresh();
		setInterval(refresh, 10000);
	});
</script>