@using OpenSpacePlanner.Contracts
@model IList<INosSession>
@{
	var session = Model.FirstOrDefault(s => s.Room == ViewData["session"].ToString());
	if (null != session) {
		
						   	<div class="session" onclick="sessiondetails('@session.Id')">
								<h4>@session.Title</h4>
								(@session.Owner)<div>
						   								@if(null!= ViewData["details"] && (bool) ViewData["details"]) {
																							   	@session.Description
														}
													</div>	</div>
	}
	else {
		 	<div class="nosession">&nbsp;</div>
	}
}