@using OpenSpacePlanner.Contracts
@model IList<INosSession>
@{
	var session = Model.FirstOrDefault(s => s.Room == ViewData["session"].ToString());
	if (null != session) {
		
						   	<div style="background-color: #FFFBD4;padding:5px;text-align:center">
								<h4>@session.Title</h4>
								(@session.Owner)</div>
						   									
	}
	else {
		 	<div style="background-color: #efefef;">&nbsp;</div>
	}
}