@using OpenSpacePlanner.Contracts
@using OpenSpacePlanner.Domain
@model IList<INosSession>

<table>
	<thead onclick="$('#samstag').toggle()">
		<tr>
			<th>
				Samstag
			</th>
			<th>
				Raum 1 (20)
			</th>
			<th>
				Raum 2 (20)
			</th>
			<th>
				Raum 3 (10)
			</th>
			<th>
				Raum 4 (10)
			</th>
		</tr>
	</thead>
	<tbody id="samstag">
	
	</tbody>
</table>
<table>
	<thead onclick="$('#sonntag').toggle()">
		<tr>
			<th>
				Sonntag
			</th>
			<th>
				Raum 1 (20)
			</th>
			<th>
				Raum 2 (20)
			</th>
			<th>
				Raum 3 (10)
			</th>
			<th>
				Raum 4 (10)
			</th>
		</tr>
	</thead>
	<tbody id="sonntag">
	
	</tbody>
</table>
