USE [master]
GO
/****** Object:  Database [nosplanner]    Script Date: 07/13/2011 22:34:58 ******/
CREATE DATABASE [nosplanner] ON  PRIMARY 
( NAME = N'nosplanner', FILENAME = N'D:\SQLData\MSSQL10_50.SQLEXPRESS2008\MSSQL\Data\nosplanner.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'nosplanner_log', FILENAME = N'D:\SQLData\MSSQL10_50.SQLEXPRESS2008\MSSQL\Data\nosplanner_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nosplanner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nosplanner]
GO
/****** Object:  Table [dbo].[NosSession]    Script Date: 07/13/2011 22:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NosSession](
	[NosSessionId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1024) NOT NULL,
	[Tag] [nvarchar](10) NOT NULL,
	[Start] [smalldatetime] NULL,
	[End] [smalldatetime] NULL,
	[Owner] [nvarchar](50) NOT NULL,
	[Room] [nvarchar](10) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[OwnerTag] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_NosSession] PRIMARY KEY CLUSTERED 
(
	[NosSessionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendee]    Script Date: 07/13/2011 22:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendee](
	[AttendeeId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Tag] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Attendee] PRIMARY KEY CLUSTERED 
(
	[AttendeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
